<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="center">
    <h1>Rejestracja</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{message}}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
            <input type="text" required name="first_name">
            <span></span>
            <label>Imię</label>
        </div>

        <div class="txt_field">
            <input type="text" required name="last_name">
            <span></span>
            <label>Nazwisko</label>
        </div>

        <div class="txt_field">
            <input type="text" required name="username">
            <span></span>
            <label>Nazwa użytkownika</label>
        </div>

        <div class="txt_field">
            <input type="email" required name="email">
            <span></span>
            <label>Email</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Hasło</label>
        </div>

        <div class="txt_field">
            <input type="password" required name="confirm_password">
            <span></span>
            <label>Powtórz hasło</label>
        </div>


        <input type="submit" value="Zrejestruj się">
        <div class="signup_link">
            Czy masz już konto? <a href="{% url 'login' %}">Zaloguj się</a>
        </div>
    </form>
</div>

</body>
</html>